<div class="flex flex-col h-full bg-white border-r border-gray-200 w-12">
  <button
    class="w-10 h-10 mx-auto my-2 flex items-center justify-center rounded hover:bg-gray-100 transition-colors duration-200"
    [class.bg-blue-100]="isToolActive(ToolType.RoundTable)" (click)="toggleTool(ToolType.RoundTable)"
    title="Round Table">
    <img [src]="getToolbarIcon('round-table-tool', isToolActive(ToolType.RoundTable))" class="h-6 w-6"
      alt="Round Table" />
  </button>

  <button
    class="w-10 h-10 mx-auto my-2 flex items-center justify-center rounded hover:bg-gray-100 transition-colors duration-200"
    [class.bg-blue-100]="isToolActive(ToolType.RectangleTable)" (click)="toggleTool(ToolType.RectangleTable)"
    title="Rectangle Table">
    <img [src]="getToolbarIcon('rectangular-table-tool', isToolActive(ToolType.RectangleTable))" class="h-6 w-6"
      alt="Rectangle Table" />
  </button>

  <button
    class="w-10 h-10 mx-auto my-2 flex items-center justify-center rounded hover:bg-gray-100 transition-colors duration-200"
    [class.bg-blue-100]="isToolActive(ToolType.SeatingRow)" (click)="toggleTool(ToolType.SeatingRow)"
    title="Seating Row">
    <img [src]="getToolbarIcon('row-tool', isToolActive(ToolType.SeatingRow))" class="h-6 w-6"
      alt="Seating Row" />
  </button>

</div>